/* body {
    display: flex;
    flex-direction: column;
} */

/* html {
    min-height: 100%;
    position: relative;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #343a40;
    color: #fff;
    padding: 3em;
    width: 100%;
} */