.grid-body {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(5,1fr);
	grid-gap: 10px;
	margin: 10px;
}

.profile-container {
	background-color: aliceblue;
}

.grid-body img {
	height: 500px;
	width: 100%;
	object-fit: scale-down;
}

.detail-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;
}