.card-img-top {
    height: 100%;
    width: 100%;
}

#break-card {
    padding: 10px 0;
    margin: 25px 0;
}

#col-image {
    height: 50%;
    width: 50%;
}

#col-info p{
    padding: 4.8px 0;
}

#profile-row {
    margin-top: 2%;
}

/* line break */

#line-container {
    padding: 50px;
}
#lines {
    width: 100%;
    height: 45px;
    position: relative;
}

#lines::after, #lines::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background-color: black;
    width: 45%;
    top: 45%;
}

#lines::after{
    left: 0;
}

#lines::before{
    right: 0;
}

#diamond {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}

@media (max-width: 768px) {
    #diamond {
        height: 20px;
        width: 20px;
    } 
    #lines{
        height: 25px;
    }
}

.book-button {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.favorite-button {
    padding: 10px 28px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 15px;
}

.book-button:hover, .favorite-button:hover{
    background-color: #333333;
    color: #fff;
    transition: all 0.5s ease-in-out;

}